*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

img{
    border-radius: 7px;
    width: 17rem;
    border-bottom-left-radius: 100px;
    /* border-bottom-right-radius: 100px; */
    border-top-right-radius: 100px;
    
    
}
.head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.main{
    margin-left: 100px;
    margin-top: 20px;
    width: 275px;
    height: 450px;
    border: 2px solid black;
    border-radius: 7px;
    background-color: aquamarine;
}
.t1{
    margin: 20px;

}
.btn1{
    margin-left: 60px;
    padding: 5px;
    border-radius: 100px;
    background-color: red;
    color: white;
    width: 150px;
}
.btn1:hover{
    background-color: green;
    color: white;
    padding: 5px;
    cursor: pointer;
}